body{
	background-color: #f5f0DC;
	font-family: Helvetica, Arial, sans-serif;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}

h2{
	background-color: #83A742;
	padding: 5px;
	color: #FFFFFF;
}

#tb-nutrientes{
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
}

#tb-nutrientes th{
	background-color: #FFFFFF;
}

#tb-nutrientes tr:nth-child(odd){
	background-color: #FFFFFF;
}

#tb-nutrientes tr:nth-child(even){
	background-color: #F8EAB3;
}

nav li{
	display:inline;
	margin-right:50px;
}

#topo {
	text-align: center;
}